<mat-toolbar color="primary">
    <span>Novo Contato</span>
</mat-toolbar>


<div class="form">
    <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Telefone</mat-label>
        <input matInput>
    </mat-form-field>

    <div class="actions">
        <a routerLink="/contacts" mat-raised-button>Voltar para a lista</a>
        <button mat-raised-button color="primary" type="submit">Criar</button>
    </div>
</div>